# EVE developer application client ID (https://developers.eveonline.com)
# Callback URL must match: http://localhost:5173/neocom-desk/callback (dev)
# and https://shawndibble.github.io/neocom-desk/callback (prod)
VITE_EVE_CLIENT_ID=
